<div class="animate__animated animate__fadeIn animate__faster">

    <h2>Por País</h2>
    <hr>
    
    <div class="row first-index">
        
        <div class="col">
        
           <app-search
                (onEnter)="search($event)"
                (onDebouncer)="suggestions($event)"
                placeholder="Buscar país..."
            >
           </app-search>
    
        </div>
    
    </div>        

    <hr>
</div>

<div *ngIf="error" class="alert alert-danger">
    No hay resultados
</div>

<div *ngIf="countries.length > 0" class="row">
    <div class="col first-index">
        <app-country-table [countries]="countries"></app-country-table>
    </div>
</div>

<ul *ngIf="suggestedCountries.length > 0" class="list-group">
    <li
        *ngFor="let country of suggestedCountries"
        class="list-group-item list-group-item-action"
    >
        <a             
            [routerLink]="['/country', country.alpha2Code]"                
        >
            {{ country.name }}
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a             
            (click)="searchSuggested(searchTerm)"                
        >
            Buscar "{{ searchTerm }}"
        </a>
    </li>
</ul>